@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  overflow: hidden;
}

/* Map */
.mapboxgl-ctrl-logo {
  @apply !hidden;
}

.tags-inline::-webkit-scrollbar {
  @apply hidden;
}

.tags-inline {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.user-marker {
  @apply relative h-4 w-4 rounded-full border-2 border-white bg-sky-500;
  transform-style: preserve-3d;
}

.user-marker::after {
  content: '';
  @apply absolute h-5 w-5 rounded-full bg-sky-500;
  filter: blur(8px);
  transform: translate3d(-4px, -4px, -1px);
}

.custom-tooltip .mapboxgl-popup-content {
  @apply rounded-lg border border-gray-200 bg-white p-0;
}

.custom-tooltip.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  @apply -ml-px -mt-2 border-l-white;
}

.custom-tooltip.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  @apply -mr-px -mt-2 border-r-white;
}

.custom-tooltip.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  @apply -mt-px border-t-gray-100;
}

.custom-tooltip.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  @apply -mb-px border-b-white;
}

.custom-tooltip .mapboxgl-popup-close-button {
  @apply hidden;
}
