@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  overflow: hidden;
}

.remove-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.remove-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Map */
.mapboxgl-ctrl-logo {
  @apply !hidden;
}

.user-marker {
  @apply relative h-4 w-4 rounded-full border-2 border-white bg-sky-500;
  transform-style: preserve-3d;
}

.user-marker::after {
  content: '';
  @apply absolute h-5 w-5 rounded-full bg-sky-500;
  filter: blur(8px);
  transform: translate3d(-4px, -4px, -1px);
}

.custom-tooltip {
  @apply !max-w-[280px];
}

.custom-tooltip .mapboxgl-popup-content {
  @apply rounded-lg border border-gray-200 bg-white p-0;
}

.custom-tooltip.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  @apply -ml-px -mt-2 border-l-white;
}

.custom-tooltip.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  @apply -mr-px -mt-2 border-r-white;
}

.custom-tooltip.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  @apply -mt-px border-t-gray-100;
}

.custom-tooltip.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  @apply -mb-px border-b-white;
}

.custom-tooltip .mapboxgl-popup-close-button {
  @apply hidden;
}

/* Ring loader */
.lds-ring {
  @apply relative inline-block;
}

.lds-ring div {
  @apply absolute box-border block;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Spinner loader */
.lds-spinner {
  @apply relative inline-block h-5 w-5;
}

.lds-spinner div {
  transform-origin: 10px 10px;
  animation: lds-spinner 0.8s linear infinite;
}

.lds-spinner div:after {
  @apply absolute block bg-black dark:bg-white;
  content: ' ';
  top: 1px;
  left: 9px;
  width: 2px;
  height: 5px;
  border-radius: 20%;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(45deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(90deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(135deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(180deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(225deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(270deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(315deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
